<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-12">
            <h3>Start to learn new words today with this simple application.</h3>
        </div>
    </div>
    <div class="row">
        <!--<div class="d-grid gap-2 d-md-block col-4 mx-auto">
            <button type="button" class="btn btn-primary btn-lg">Log In</button>
            <button type="button" class="btn btn-secondary btn-lg">Register</button>
        </div>-->
        <div class="col col-sm-6 col-md-3">
            <a routerLink="/login" class="btn btn-primary btn-lg col-10">Log In</a>
        </div>
        <div class="col col-sm-6 col-md-3">
            <a routerLink="/register" class="btn btn-secondary btn-lg col-10">Register</a>
        </div>
    </div>
</div>