<div class="container-fluid">
    <div class="row mt-5">
        <div class="col col-md-12">
            <h3 class="text-center">Start to learn new words today with this simple application.</h3>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col col-md-6">
            <a routerLink="/login" class="btn btn-dark btn-lg col-md-4">Log In</a>
        </div>
        <div class="col col-md-6">
            <a routerLink="/register" class="btn btn-light btn-lg col-md-4">Register</a>
        </div>
    </div>
</div>